<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title|title }}</title>
</head>
<body>
<h1>{{ title|title }}</h1>
<h2>{{ content|wordcount }} words</h2>
<p>{{ content }}</p>
{% if todos|length > 1 %}
    <ul>
    {% for todo in todos %}
        <li>{{ todo }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if dict|length > 1 %}
    <ul>
    {% for key, value in dict %}
        <li><b>{{key}}</b>: {{value}}</li>
    {% endfor %}
    </ul>
{% endif %}
</body>
</html>